{% extends "icon-manager/_layouts/settings" %}
{% set title = "General Settings"|t('icon-manager') %}
{% set fullPageForm = true %}
{% set selectedSettingsItem = 'general' %}

{% set plugin = craft.app.plugins.getPlugin('icon-manager') %}
{% set crumbs = [
    {
        label: iconHelper.fullName|t('icon-manager'),
        url: url('icon-manager'),
    },
    {
        label: 'Settings'|t('icon-manager'),
        url: url('icon-manager/settings'),
    },
    {
        label: 'General'|t('icon-manager'),
        url: url('icon-manager/settings/general'),
    },
] %}

{% import "_includes/forms" as forms %}

{% block content %}
    {{ actionInput('icon-manager/settings/save') }}
    {{ redirectInput('icon-manager/settings/general') }}
    {{ hiddenInput('section', 'general') }}

        <h2 class="first">{{ "General Settings"|t('icon-manager') }}</h2>

        {% include 'lindemannrock-base/_partials/field-plugin-name' with {
            settings: settings,
            pluginHandle: 'icon-manager',
        } only %}

        <hr>

        <h2>{{ 'General Settings'|t('icon-manager') }}</h2>

        {{ forms.autosuggestField({
            label: 'Icon Sets Path'|t('icon-manager'),
            instructions: 'Provide the full path to your icon files. Also supports aliases.'|t('icon-manager'),
            id: 'iconSetsPath',
            name: 'settings[iconSetsPath]',
            value: settings.iconSetsPath,
            suggestEnvVars: true,
            suggestAliases: true,
            required: true,
            warning: settings.isOverriddenByConfig('iconSetsPath') ? 'This is being overridden by the <code>iconSetsPath</code> setting in the <code>config/icon-manager.php</code> file.'|t('icon-manager')|raw : null,
            disabled: settings.isOverriddenByConfig('iconSetsPath'),
            errors: settings.getErrors('iconSetsPath')
        }) }}

        {% if resolvedIconSetsPath ?? null %}
            {% include 'lindemannrock-base/_components/info-box' with {
                message: '<strong>' ~ 'Icon Sets Location:'|t('icon-manager') ~ '</strong> <code>' ~ resolvedIconSetsPath ~ '</code>'
            } %}
        {% endif %}

        <hr>

        <h2>{{ 'Logging Settings'|t('icon-manager') }}</h2>

        {% include 'lindemannrock-base/_partials/field-log-level' with {
            settings: settings,
            pluginHandle: 'icon-manager',
        } only %}

    {% include 'lindemannrock-base/_components/plugin-credit' %}
{% endblock %}
